{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{#<script src="{{ asset('js/register.js') }}"></script>#}
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="form-container">
		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}
			{{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.firstname) }}
			{{ form_row(registrationForm.lastname) }}
			<div style="margin: 2rem 0" class="thumbnail-input">
				{{ form_row(registrationForm.thumbnail) }}
				<div class="image-name">No file.</div>
			</div>
			{{ form_row(registrationForm.password, {
				label: 'Password'
			}) }}

			<button type="submit" class="btn">Register</button>
		{{ form_end(registrationForm) }}
	</div>

	<script>
		const thumbnailInput = document.querySelector('#registration_form_thumbnail');
		thumbnailInput.addEventListener('change', (e) => {
			const image = e.target.files[0];
			const imageName = image.name;
			const imageNameDiv = document.querySelector('.image-name');
			imageNameDiv.innerHTML = imageName;
		});
	</script>
{% endblock %}
