{% extends 'base.html.twig' %}

{% block title %}Playlist {% endblock %}
{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('css/playlist.css')}}">
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script defer src="{{asset('js/playlist.js')}}"></script>
	<script defer >
		let playlistId = {{playlist.id}};
	</script>
{% endblock %}
{% block body %}
	<section class="playlist-container">
		<aside class="playlist-infos">
			<h3>{{playlist.name}}</h3>
			<div class="infos">
				<div>Likes : {{playlist.likes}} </div>
				<div>Author : {{playlist.author.firstname}} </div>
				<div>Created : {{playlist.createdAt|date('d/m/Y')}} </div>
				<div>Updated : {{playlist.updatedAt|date('d/m/Y')}} </div>
				<div>Songs total: {{playlist.songs|length}}</div>
				{% if app.user is same as playlist.author %}
				<div>Privacy: {% if playlist.isPublic %} Public {% else %}
					Private {% endif %}
				 </div>
				{% endif %}
			</div>
			{% if app.user is same as playlist.author %}
			<div class="btn-gestion">
				<button class="blue-button" onclick="openModalSong()"> Add Song </button>
				<button class="pink-button" onclick="deletePlaylist({{playlist.id}})"> Delete Playlist </button>
			</div>
			{% endif %}
			
		</aside>
		<div class="songs-list">
			<h2>Songs</h2>
			{% for song in playlist.songs %}
				{% if song.url is not same as null and song.url %}
					<a href="{{song.url}}" target="_blank">
				{% else %}
					<a href="#">
				{% endif %}
						<div class="song-item" >
						<div class="song-infos"> <span>{{song.name}}</span>  - <span>{{song.artist}}</span> -
						{% if song.year is not null %}<span>{{song.year}}</span> {% else %}
						unknown date{% endif %}
						</div>
						<box-icon style="cursor: pointer" name='play-circle' color='#ffffff'></box-icon>
					</div>
				</a>
			{% endfor %}
		
		</div>
	</section>
	{% if app.user is same as playlist.author %}
	<div class="modal-song">
		<div class="form-song">
			<span class="close-modal" onclick="closeModalSong()">
				<box-icon  name='x'></box-icon>
			</span>
			<span class="error"></span>
			<div>
				<label for="song-name">Song name</label>
				<input name="song-name" id="song-name" type="text">
			</div>
			<div>
				<label for="song-artist">Artist</label>
				<input name="song-artist" id="song-artist" type="text">
			</div>
			<div>
				<label for="song-year">Year (optional)</label>
				<input name="song-year" id="song-year" type="text">
			</div>
			<div>
				<label for="song-url">Song url (youtube)</label>
				<input name="song-url" id="song-url" type="text">
			</div>
			<button class="btn-addSong" onclick="addSong()">
				Add
			</button>
		</div>
	</div>
	{% endif %}
	
{% endblock %}
